[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["amsdal_storages"]

[project]
name = "amsdal_storages"
version = "0.1.0"
description = "amsdal_storages plugin for AMSDAL Framework"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "amsdal_models>=0.5.16",
    "amsdal[cli]==0.5.10",
]

[project.optional-dependencies]
s3 = [
    "boto3",
    "aioboto3>=11.0.0",
]

[dependency-groups]
dev = [
    "coverage[toml]>=7.10",
    "amsdal_storages[s3]",
    "mypy>=1.17.0",
    "ruff>=0.12.4",
    "coverage[toml]>=7.9",
    "pytest==8.4.1",
    "pytest-mock==3.14.1",
    "pytest-asyncio==1.1.0",
    "types_docutils",
    "types-pytz",
    "types-Pygments",
    "types-PyYAML",
    "pandas-stubs",
    "types-aioboto3",
    "types-boto3",
]

[tool.hatch.envs.default]
installer = "uv"
path = ".venv"

[tool.hatch.envs.default.scripts]
sync = "uv sync --group dev"
lock = "uv lock"
lock-upgrade = "uv lock --upgrade"
test = "pytest {args:tests}"
test-cov = "coverage run -m pytest {args:tests}"
cov-report = [
    "- coverage combine",
    "coverage report",
]
cov = [
    "test-cov",
    "cov-report",
]
typing = "uv run mypy --install-types --non-interactive {args:amsdal_storages/}"
style = [
    "uv run ruff check {args:.}",
]
fmt = [
    "uv run ruff check --fix {args:.}",
    "uv run ruff format {args:.}",
    "style",
]
all = [
    "style",
    "typing",
]

[tool.ruff]
target-version = "py311"
line-length = 120

[tool.ruff.lint]
select = [
    "A",
    "ARG",
    "B",
    "C",
    "DTZ",
    "E",
    "EM",
    "F",
    "FBT",
    "I",
    "ICN",
    "ISC",
    "N",
    "PLC",
    "PLE",
    "PLR",
    "PLW",
    "Q",
    "RUF",
    "S",
    "T",
    "TID",
    "UP",
    "W",
    "YTT",
]
ignore = [
    # Allow non-abstract empty methods in abstract base classes
    "B027",
    # Allow boolean positional values in function calls, like `dict.get(... True)`
    "FBT003",
    # Ignore checks for possible passwords
    "S105", "S106", "S107",
    # Ignore complexity
    "C901", "PLR0911", "PLR0912", "PLR0913", "PLR0915",
    "A005",
    "PLC0415",
    "RUF100",
    "UP045",
    "Q000",
    "Q003",
]

[tool.ruff.lint.per-file-ignores]
"tests/**" = ["S101", "N803", "EM101", "N805", "N802", "ARG001", "ARG002", "FBT001"]

[tool.ruff.format]
quote-style = "single"

[tool.ruff.lint.isort]
force-single-line = true
order-by-type = true

[tool.mypy]
plugins = ["pydantic.mypy"]
follow_imports = "silent"
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true