[core]
default_timezone = Asia/Bangkok
executor = LocalExecutor
parallelism = 4
max_active_tasks_per_dag = 2
max_active_runs_per_dag = 2

# Hostname by providing a path to a callable, which will resolve the hostname.
# The format is "package.function".
#
# For example, default value "airflow.utils.net.getfqdn" means that result from patched
# version of socket.getfqdn() - see https://github.com/python/cpython/issues/49254.
#
# No argument should be required in the function specified.
# If using IP address as hostname is preferred, use value ``airflow.utils.net.get_host_ip_address``
# hostname_callable = airflow.utils.net.getfqdn

load_examples = False
dags_are_paused_at_creation = True

plugins_folder = /opt/airflow/plugins
lazy_load_plugins = False
lazy_discover_providers = True
execute_tasks_new_python_interpreter = False

[database]
sql_engine_encoding = utf-8

[logging]
logging_level = DEBUG
base_log_folder = /opt/airflow/logs/airflow
dag_processor_manager_log_location = /opt/airflow/logs/airflow/dag_processor_manager.log

[api]
auth_backends = airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session

[scheduler]
job_heartbeat_sec = 10
enable_health_check = True
parsing_cleanup_interval = 30

[dag_processor]
refresh_interval = 30

[webserver]
expose_config = True
show_trigger_form_if_no_params = True
default_ui_timezone = Asia/Bangkok
instance_name = Standalone for DAG Tool

# If set to True, Airflow will track files in plugins_folder directory. When it detects changes,
# then reload the gunicorn.
reload_on_plugin_change = True

[fab]
navbar_color = blanchedalmond
