[core]
default_timezone = Asia/Bangkok
executor = SequentialExecutor
parallelism = 2
max_active_tasks_per_dag = 1
max_active_runs_per_dag = 1

load_examples = False
dags_are_paused_at_creation = True

# NOTE: Plugins
plugins_folder = /opt/airflow/plugins
lazy_load_plugins = True
execute_tasks_new_python_interpreter = False

# NOTE: Connection
hide_sensitive_var_conn_fields = False

# NOTE: sensitive name should be:
#   'access_token', 'api_key', 'apikey', 'authorization', 'passphrase',
#   'passwd', 'password', 'private_key', 'secret' or 'token'
sensitive_var_conn_names = mark,hidden

[database]
sql_engine_encoding = utf-8
# sql_alchemy_pool_enabled = True
# sql_alchemy_pool_size = 8

[logging]
logging_level = DEBUG
base_log_folder = /opt/airflow/logs/airflow
dag_processor_manager_log_location = /opt/airflow/logs/airflow/dag_processor_manager.log


[api]
auth_backends = airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session

# [secrets]
# backend = airflow.secrets.local_filesystem.LocalFilesystemBackend
# backend_kwargs = {
#         "connections_file_path": "/opt/secrets/connections.yaml",
#         "variables_file_path": "/opt/secrets/variables.yaml"
#     }

[scheduler]
job_heartbeat_sec = 10
enable_health_check = True
parsing_cleanup_interval = 30
dag_dir_list_interval = 30
min_file_process_interval = 15
child_process_log_directory = /opt/airflow/logs/airflow/scheduler

[webserver]
expose_config = True
show_trigger_form_if_no_params = True
default_ui_timezone = Asia/Bangkok
instance_name = Standalone for DAG Tool
navbar_color = blanchedalmond
