html, body {
    padding: 0;
    margin: 0;
}

html, body, #main {
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.aw-nav-icon {
    width: 40px;
    height: 40px;
}

/* Ansible console output colors */
.aw-log-ok {
    color: #11D116;
}

.aw-log-skip {
    color: #1AB899;
}

.aw-log-warn {
    color: #8E44AD;
}

.aw-log-err {
    color: #E11616;
}

.aw-log-change {
    color: #F07201;
}

.aw-log-debug {
    color: #326fa7;
}

/* CUSTOM OVERRIDES */

.action-btns button:not(.group *):not(.modal-btns *) {
    padding: 4px 8px !important;
}
