[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "rickdex"
version = "0.3.1"
authors = [
    { name="Vitor", email="vitorlins485@gmail.com" },
]
description = "Uma biblioteca Python para interagir com a API Rick and Morty."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests",
]