// Test button component
@import 'variables';

.btn {
    padding: $test-spacing;
    border: 1px solid transparent;
    
    &.btn-primary {
        background: $test-primary;
    }
    
    &.btn-secondary {
        background: $test-secondary;
    }
}
